.App{
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  left: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.Pic img {
  width: 500px;
}

.Info h1, p{
  color: white;
}
